<div class="card">
  <h3 class="card-header">Comments</h3>
  {{#if (is_Empty this)}}
    <section class="comment card-body">
      <div class="text">
        No comment yet, do you want to leave first comment!
      </div>
    </section>
  {{else}}
    {{#each this}}
      <section class="comment card-body">
        <div class="text">
          {{comment}}
        </div>
        <div class="meta">
           {{#if user.name}}
               by {{user.name}},
           {{else}}
               by Anonymous,
           {{/if}}
          {{format_date created_at}}
        </div>
      </section>
    {{/each}}
  {{/if}}
</div>
<p></p>