<div class="row text-center">
     <div class="col-md-4">
     {{#if logged_in }}
       <!-- show edit , delete button-->
        <a href="edit-post"><button class="btn btn-primary btn-post-edit" type="submit">Edit</button></a>
        <a href="delete"><button class="btn btn-primary btn-post-delete" type="submit">Delete</button></a>
     {{/if}}
</div>


       {{#if logged_in}}
       <!-- edit , delete go here-->
          <div class="posts">
            <div class="col-md-8"><h2>Posts ID: {{post.id}} </h2></div>
            <input id="post-id" type="hidden" name="post-id-body" class="form-input"  value="{{post.id}}"/>
            <a href="/post/{{id}}">
              <h3 class="post-title">{{title}}</h3>
              <h4 class="post-subtitle">{{description}}</h4>
            </a>
          </div>
            {{else}}
              {{> post post}}
              {{> comments post.comments}}
            {{/if}}
  <div class="card">
                <h3 class="card-header">Create Comment</h3>
                <form class="card-body">
                  <form class="form new-comment-form">
                    <div class="form-group row">
                      <label class="form-label">My Comment</label>
                      <input id="comment" name="comment-body" class="form-input" />
                    </div>
                    <p></p>
                    <div class="form-group">
                      <button type="button" class="btn btn-primary btn-create-comment">Submit</button>
                    </div>
                  </form>
                </form>
              </div>
              <p></p>          
<script src="/js/create-comment.js"></script>
<script src="/js/delete-post.js"></script>
{{!-- 
<script src="/js/edit-post.js"></script>
 --}}